test_env

subprojects/blueprint-compiler

__pycache__

.idea

# flatpak
.flatpak-builder
repo
builddir

### Nix Stuff ###
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
